absl-py==2.1.0
cloudpickle==3.0.0
Farama-Notifications==0.0.4
glfw==2.7.0
gymnasium==0.29.1
imageio==2.34.1
importlib_metadata==7.1.0
mujoco==2.3.0
numpy==1.24.4
pillow==10.3.0
prettytable==3.10.0
PyOpenGL==3.1.7
simplejson==3.19.2
swig==4.2.1
typing_extensions==4.12.2
wcwidth==0.2.13
zipp==3.19.2
